/* ADMIN VIEW */
.label {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
}

.button {
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-background-color: #D56397;
}
.button:hover {
    -fx-background-color: #F9B0D3;
}
.table-view {
	-fx-background-color: #FFFFFF;
}

.table-view .label {
    -fx-text-fill: #757575;

}

.table-view .column-header-background .filler {
    -fx-background-color: #FFFFFF;
}

// ???
.table-view .corner {
    -fx-background-color: #000000;
}

.table-view .column-header-background{
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell {
    -fx-border-color: #FFFFFF;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell {
    -fx-text-background-color: #757575;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #9316c7;
}
.table-row-cell: odd{
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #FAFAFA;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-blend-mode: red;
}
.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-bar:vertical,
.scroll-bar:vertical .track,
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal,
.scroll-bar:horizontal .track,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #AA336A;
}

.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: transparent;
}

.table-row-cell: highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}

.list-cell:selected {
    -fx-background-color: green;
}